:root {
  --font-family: "Rubik";
  --clr-dark-blue: #334253;
  --clr-grayish-blue: #67727e;
  --clr-very-light-gray: #f5f6fa;
  --clr-white: #ffffff;
  --clr-moderate-blue: #5357b6;
  --clr-light-grayish-blue: #c5c6ef;
  --clr-soft-red: #ed6368;
  --clr-pale-red: #ffb8bb;
  --clr-light-gray: #e9ebf0;
}
