@use "../abstracts/" as *;
.add-comment {
  display: flex;
  padding: rem(28) rem(0) rem(28) rem(24);
  justify-content: space-between;
  gap: rem(16);
  &__text {
    resize: none;
    background: var(--clr-white);
    border: 1px solid var(--clr-light-gray);
    border-radius: 8px;
    padding: rem(12) rem(24);
    color: var(--clr-dark-blue);
    &::placeholder {
      font-weight: 400;
      font-size: rem(16);
      line-height: rem(24);
      color: var(--clr-grayish-blue);
    }
    &:focus {
      outline: none;
      border: 1px solid var(--clr-moderate-blue);
    }
  }

  &__image {
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
  }
}
