@use "../abstracts/" as *;
.comment {
  padding: rem(24);
  @include respond(phone) {
    padding: rem(16, $fs-s);
  }
  &__container {
    display: grid;
    grid-template-areas:
      "vote head head btns"
      "vote main main main";
    grid-template-columns: rem(40);
    margin-bottom: rem(8);
    gap: rem(16);

    @include respond(phone) {
      grid-template-areas:
        "head head head head"
        "main main main main"
        "vote vote vote btns";
    }
  }
  &__header {
    display: flex;
    align-items: center;
    gap: rem(16);
    grid-area: head;
  }
  &__vote {
    // padding: rem(12) rem(16);
    display: flex;
    grid-area: vote;
    flex-direction: column;
    align-items: center;
    gap: rem(20);

    user-select: none;

    @include respond(phone) {
      flex-direction: row;
    }
    .heading-m {
      color: var(--clr-moderate-blue);
    }
    svg {
      cursor: pointer;
      fill: var(--clr-light-grayish-blue);
      :hover {
        fill: var(--clr-moderate-blue);
      }
    }
  }
  &__text {
    color: var(--clr-grayish-blue);

    grid-area: main;
  }
  &__image {
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
  }

  &__date {
    color: var(--clr-grayish-blue);
  }

  &__btns {
    justify-self: end;
    display: flex;
    gap: rem(24);

    justify-content: center;
    align-items: center;
  }

  &__vertical-line {
    background-color: var(--clr-light-gray);
    width: 2px;
    margin-left: rem(18);
    margin-right: rem(20);
    @include respond(phone) {
      margin-left: rem(5);
      margin-right: rem(40);
    }
  }
  &__you {
    margin-left: rem(7);
    text-transform: uppercase;
    background-color: var(--clr-moderate-blue);
    font-weight: 500;
    font-size: rem(13);
    line-height: rem(15);
    padding: rem(3) rem(6);
    color: var(--clr-white);
    border-radius: 2px;
  }
  &__textarea {
    width: 100%;
    min-height: rem(124);
    resize: none;
    padding: rem(12) rem(24);
    color: var(--clr-dark-blue);
    // overflow: hidden;
    border: 1px solid var(--clr-moderate-blue);
    border-radius: 8px;
    margin-bottom: rem(16);
  }
  &__update-btn {
    display: flex;
    justify-content: end;
  }
}
