@use "../abstracts/" as *;

.heading-l {
  font-size: rem(24);
  line-height: rem(28);
}

.heading-m {
  font-size: rem(16);
  line-height: rem(19);
}

.body-b,
.heading-m,
.heading-l {
  font-weight: 500;
}

.body,
.body-b {
  font-size: rem(16);
  line-height: rem(24);
}

.body {
  font-weight: 400;
}
