@use "../abstracts/" as *;
.backdrop {
  width: 100vw;
  height: 100vh;
  background: #000000;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.overlay {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
